*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.left{
    text-align: left;
    margin: 1em auto;
    width: 80%;
}
h1{
    padding-top: 0.5em;
}
body{
}
a{
    padding: 1em;
    display: block;
}
h2{
    padding: 1em;
}
button{
    border: 0;
    padding: 1em;
    font-size: 1em;
    margin: 1em;
}
#thanks{
    padding: 1em;
}
main{
    background-color: white;
    min-height: 80vh;
    max-width: 350px;
    margin: 0 auto;
}
footer *:first-child{
    padding-top: 1em;
}
#screen{
    width: 100%;
    border-bottom: 1px solid black;
    transition: background-color 0.2s ease-in-out;
}
img{
    width: 100%;
}
#info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#info p{
    display: inline;
    width: auto;
    margin: 1em;
}
#submit{
    margin: 0 auto;
    width: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
#submit div{
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    margin: 1em auto;
}
#submit #sharp,  #submit #flat{
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}
#submit p{
    background-color: rgb(212, 212, 212);
    padding: 1em 0.5em;
    border: 2px solid black;
    border-radius: 1em;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    margin: 0 2px;
}
#submit .empty{
    background: none;
    border-width: 0;
}
.link{
    background-color: #0056A6;
    border-radius: 10em;
    width: 80%;
    color: white;
    margin: 1em auto;
    box-shadow: 2px 3px rgb(20, 48, 75);
}
.link:active, .link:hover{
    background-color: rgb(8, 44, 78);
}
.start{
    margin: 0 auto;
}
#normal p{
    background-color: white;
}
#sharp p, #flat p{
    background-color: black;
    color: white;
}
form{
    align-content: center;
}
form *{
    padding: 1em;
    margin: 10px;
}
label{
    display: block;
}
input{
    width: 80%;
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    -webkit-tap-highlight-color: transparent;
}
a:focus{
    outline: none;
}
.black{
    color: black;
}
header{
    background-color: #0056A6;
    color: white;
    min-height: 10vh;
}
footer{
    background-color: #0056A6;
    color: white;
    min-height: 10vh;
}
.hidden{
    display: none;
}